/* Body */
h1 {
    font-size: 3em;
    font-weight: 700;
}

h1, h2 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
    margin-top: 10px;
}

p {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
}
