{% extends "bootstrap/base.html" %}

{% block title %}gospel | {% block subtitle %}{% endblock %}{% endblock %}


{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<!-- Custom Fonts -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    <div class="header text-center">
        <h1>Gospel</h1>
        <h2>take a glimpse into your financial future</h2>
        <hr>
    </div>
    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<!-- DevExtreme dependencies -->
<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.1.0.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<!-- A DevExtreme library -->
<script type="text/javascript" src="https://cdn3.devexpress.com/jslib/16.2.4/js/dx.all.js"></script>

<script src="https://use.fontawesome.com/ad691dc47b.js"></script>
{% endblock %}
