{% extends "steps.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block subtitle %}Step 1{% endblock %}

{% block page_content %}
<div class="container">
    <!--Form-->
    <div class="row">
        <div class="col-md-4">
            <div class="well">
                <p class='lead text-center'>Basic Info</p>
                {{ wtf.quick_form(form, form_type="vertical") }}  
            </div>
        </div>
        <div class="col-md-8 text-center"> 
            <div id="chart"><div class="col-md-6 col-md-offset-3"><img class="img-responsive" src="{{url_for('static', filename='logo.gif')}}"></div></div>
        </div>
    </div>
</div>
{% endblock %}


